AC274/HW/HW_6/figures/*
*.npy
*.swp
*.dat
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*/render_prep
*.pyc
*.ipynb_checkpoints
Phys251/HW/HW_1/outputs/*.png
